.App {
  font-size: 18px;
}

.navStyle {
  margin-top: 100px;
}

.top2 {
  margin-top: 50px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-10 {
  margin-bottom: 30px;
}

.active {
  color: #dc3545 !important;
}

.fixed {
  position: fixed;
}

.vertical {
  writing-mode: vertical-rl;
}
